#root {
  width: 500px;
}

#app-div{
  background: black;
  color: #fff;
  display: block;
  width: 100%;
  position: center center;
  text-align: center;
  align-self: center;
  margin: 10px auto;
  padding: 20px 0;
  border-radius: 10px;
}

section {
  border: 3px orange solid;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
}

section div{
  display: flex;
  align-items: center;
}

section div p, section p {
  font-size: 1.5rem;
}

button {
  font-size: 2rem;
  width: 54px;
  height: 52px;
  color: rgb(17, 17, 17);
  background-color: orange;
  border: 5px rgb(17, 17, 17) double;
  cursor: pointer;
  margin: 0 20px;
}

button:active {
  background-color: #1D3461;
  color: #FF69EB;
  border: 3px #FF69EB solid;
}

#timer {
  display: block;
  padding-bottom: 10px;
}

#start_stop, #reset {
  margin: 5px;
  line-height: 2rem;
}

footer {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  h1 {
      margin-bottom: 0;
      margin-top: 20px;
  }

  h2 {
      margin: 10px 0 auto;
  }
  
  #timer-label {
      margin: 5px 0 auto;
  }
  
  #time-left {
      margin: 0 auto;
  }
}

/* Footer */

#love {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#love > span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: orange;
}

#love > img {
  width: 20px;
  padding: 10px;
}

#love > span > a {
  text-decoration: none;
  color: rgb(7, 207, 7);
}